.table-block {
   width: 80%;
   margin: 0 auto;
   padding: 10px;
   background-color: transparent;
}

.table-cell {
   height: 70px;
   width: 90px;
}

.table-cell2 {
   height: 70px;
   width: 120px;
}

.bg-light {
   background-color: #fff;
}

.bg-gray {
   background-color: gray;
}

.matrix-form-el {
   width: 45px;
}

.matrix-table table {
   background-color: #fff;
}